

/* Carousel Styles */
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%; /* Full width */
  margin: 20px 0; /* Space around the carousel */
}

.nav-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 0 0 auto; /* Items will not stretch but keep their size */
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #daade4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 100;
  border-radius: 50%;
  outline: none;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}


.nav-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.nav-title {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.nav-image:hover {
  transform: scale(1.1); /* Hover effect remains */
}
.image-section {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  padding: 1rem 0 1rem 0; /* Add padding to prevent content from touching the edges */
  background-color: #f0f0f0 ; /* Light gray background */
  border-radius: 10px; /* Rounded corners for the section */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.section-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #090909; /* Dark gray text */
  border: 2px solid #0b0b0b; /* Green border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 20px; /* Space inside the border */
  display: inline-block; /* Makes the border wrap tightly around the text */
  background-color: #f0f8f5; /* Light greenish background for contrast */
}

.image-navigation {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 1.5rem 0;
}


.nav-image {
  height: 20rem;
  width: 20rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}
.transportation-image{
  height: 15rem;
  width: 15rem;
  
}

.nav-image:hover {
  transform: scale(1.05);
}

/* General styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}


  .foo-right {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
